
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Dashboard - Ace Admin</title>

    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="/Areas/Admin/Assets/styles/bootstrap.css" />
    <link rel="stylesheet" href="/Areas/Admin/Assets/styles/font-awesome.css" />
    <link rel="stylesheet" href="/Areas/Admin/Assets/styles/main.css" />
    <!-- page specific plugin styles -->
    <!-- text fonts -->
    <link rel="stylesheet" href="/Areas/Admin/Assets/styles/ace-fonts.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="/Areas/Admin/Assets/styles/ace.css" class="ace-main-stylesheet" id="main-ace-style" />

    <!--[if lte IE 9]>
        <link rel="stylesheet" href="/Areas/Admin/Assets/styles/ace-part2.css" class="ace-main-stylesheet" />
    <![endif]-->
    <!--[if lte IE 9]>
      <link rel="stylesheet" href="/Areas/Admin/Assets/styles/ace-ie.css" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    <script src="/Areas/Admin/Assets/scripts/ace-extra.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]>
    <script src="/Areas/Admin/Assets/scripts/html5shiv.js"></script>
    <script src="/Areas/Admin/Assets/scripts/respond.js"></script>
    <![endif]-->
</head>

<body class="no-skin">
    <!-- #section:basics/navbar.layout -->
    <div id="navbar" class="navbar navbar-default">
        <script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
        </script>

        <div class="navbar-container" id="navbar-container">
            <!-- #section:basics/sidebar.mobile.toggle -->
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
                <span class="sr-only">Toggle sidebar</span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>
            </button>

            <!-- /section:basics/sidebar.mobile.toggle -->
            <div class="navbar-header pull-left">
                <!-- #section:basics/navbar.layout.brand -->
                <a href="#" class="navbar-brand">
                    <small>
                        <i class="fa fa-leaf"></i>
                        论坛管理后台
                    </small>
                </a>

                <!-- /section:basics/navbar.layout.brand -->
                <!-- #section:basics/navbar.toggle -->
                <!-- /section:basics/navbar.toggle -->
            </div>

            <!-- #section:basics/navbar.dropdown -->
            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                    <li class="grey">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="ace-icon fa fa-tasks"></i>
                            <span class="badge badge-grey">4</span>
                        </a>

                        <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-header">
                                <i class="ace-icon fa fa-check"></i>
                                4 Tasks to complete
                            </li>

                            <li class="dropdown-content">
                                <ul class="dropdown-menu dropdown-navbar">
                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <span class="pull-left">Software Update</span>
                                                <span class="pull-right">65%</span>
                                            </div>

                                            <div class="progress progress-mini">
                                                <div style="width:65%" class="progress-bar"></div>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <span class="pull-left">Hardware Upgrade</span>
                                                <span class="pull-right">35%</span>
                                            </div>

                                            <div class="progress progress-mini">
                                                <div style="width:35%" class="progress-bar progress-bar-danger"></div>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <span class="pull-left">Unit Testing</span>
                                                <span class="pull-right">15%</span>
                                            </div>

                                            <div class="progress progress-mini">
                                                <div style="width:15%" class="progress-bar progress-bar-warning"></div>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <span class="pull-left">Bug Fixes</span>
                                                <span class="pull-right">90%</span>
                                            </div>

                                            <div class="progress progress-mini progress-striped active">
                                                <div style="width:90%" class="progress-bar progress-bar-success"></div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown-footer">
                                <a href="#">
                                    See tasks with details
                                    <i class="ace-icon fa fa-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="purple">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="ace-icon fa fa-bell icon-animated-bell"></i>
                            <span class="badge badge-important">8</span>
                        </a>

                        <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-header">
                                <i class="ace-icon fa fa-exclamation-triangle"></i>
                                8 Notifications
                            </li>

                            <li class="dropdown-content">
                                <ul class="dropdown-menu dropdown-navbar navbar-pink">
                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <span class="pull-left">
                                                    <i class="btn btn-xs no-hover btn-pink fa fa-comment"></i>
                                                    New Comments
                                                </span>
                                                <span class="pull-right badge badge-info">+12</span>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="btn btn-xs btn-primary fa fa-user"></i>
                                            Bob just signed up as an editor ...
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <span class="pull-left">
                                                    <i class="btn btn-xs no-hover btn-success fa fa-shopping-cart"></i>
                                                    New Orders
                                                </span>
                                                <span class="pull-right badge badge-success">+8</span>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <span class="pull-left">
                                                    <i class="btn btn-xs no-hover btn-info fa fa-twitter"></i>
                                                    Followers
                                                </span>
                                                <span class="pull-right badge badge-info">+11</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown-footer">
                                <a href="#">
                                    See all notifications
                                    <i class="ace-icon fa fa-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="green">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
                            <span class="badge badge-success">5</span>
                        </a>

                        <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-header">
                                <i class="ace-icon fa fa-envelope-o"></i>
                                5 Messages
                            </li>

                            <li class="dropdown-content">
                                <ul class="dropdown-menu dropdown-navbar">
                                    <li>
                                        <a href="#" class="clearfix">
                                            <img src="/Areas/Admin/Assets/images/avatars/avatar.png" class="msg-photo" alt="Alex's Avatar" />
                                            <span class="msg-body">
                                                <span class="msg-title">
                                                    <span class="blue">Alex:</span>
                                                    Ciao sociis natoque penatibus et auctor ...
                                                </span>

                                                <span class="msg-time">
                                                    <i class="ace-icon fa fa-clock-o"></i>
                                                    <span>a moment ago</span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="clearfix">
                                            <img src="/Areas/Admin/Assets/images/avatars/avatar3.png" class="msg-photo" alt="Susan's Avatar" />
                                            <span class="msg-body">
                                                <span class="msg-title">
                                                    <span class="blue">Susan:</span>
                                                    Vestibulum id ligula porta felis euismod ...
                                                </span>

                                                <span class="msg-time">
                                                    <i class="ace-icon fa fa-clock-o"></i>
                                                    <span>20 minutes ago</span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="clearfix">
                                            <img src="/Areas/Admin/Assets/images/avatars/avatar4.png" class="msg-photo" alt="Bob's Avatar" />
                                            <span class="msg-body">
                                                <span class="msg-title">
                                                    <span class="blue">Bob:</span>
                                                    Nullam quis risus eget urna mollis ornare ...
                                                </span>

                                                <span class="msg-time">
                                                    <i class="ace-icon fa fa-clock-o"></i>
                                                    <span>3:15 pm</span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="clearfix">
                                            <img src="/Areas/Admin/Assets/images/avatars/avatar2.png" class="msg-photo" alt="Kate's Avatar" />
                                            <span class="msg-body">
                                                <span class="msg-title">
                                                    <span class="blue">Kate:</span>
                                                    Ciao sociis natoque eget urna mollis ornare ...
                                                </span>

                                                <span class="msg-time">
                                                    <i class="ace-icon fa fa-clock-o"></i>
                                                    <span>1:33 pm</span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="clearfix">
                                            <img src="/Areas/Admin/Assets/images/avatars/avatar5.png" class="msg-photo" alt="Fred's Avatar" />
                                            <span class="msg-body">
                                                <span class="msg-title">
                                                    <span class="blue">Fred:</span>
                                                    Vestibulum id penatibus et auctor  ...
                                                </span>

                                                <span class="msg-time">
                                                    <i class="ace-icon fa fa-clock-o"></i>
                                                    <span>10:09 am</span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown-footer">
                                <a href="inbox.html">
                                    See all messages
                                    <i class="ace-icon fa fa-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- #section:basics/navbar.user_menu -->
                    <li class="light-blue">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img class="nav-user-photo" src="/Areas/Admin/Assets/images/avatars/user.jpg" alt="Jason's Photo" />
                            <span class="user-info">
                                <small>你好,</small>
                                张三
                            </span>

                            <i class="ace-icon fa fa-caret-down"></i>
                        </a>

                        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                            <li>
                                <a href="#">
                                    <i class="ace-icon fa fa-cog"></i>
                                    设置
                                </a>
                            </li>

                            <li>
                                <a href="profile.html">
                                    <i class="ace-icon fa fa-user"></i>
                                    个人信息
                                </a>
                            </li>

                            <li class="divider"></li>

                            <li>
                                <a href="login.html">
                                    <i class="ace-icon fa fa-power-off"></i>
                                    退出
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- /section:basics/navbar.user_menu -->
                </ul>
            </div>

            <!-- /section:basics/navbar.dropdown -->
        </div><!-- /.navbar-container -->
    </div>

    <!-- /section:basics/navbar.layout -->
    <div class="main-container" id="main-container">
        <script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
        </script>

        <!-- #section:basics/sidebar -->
        <div id="sidebar" class="sidebar                  responsive ">
            <script type="text/javascript">
					try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
            </script>

            <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                <h5 class="blue">栏目管理</h5>
            </div><!-- /.sidebar-shortcuts -->

            <ul class="nav nav-list">
                <li class="active open">
                    <a href="#" class="dropdown-toggle"> <i class="menu-icon fa a1"></i> <span class="menu-text">帖子管理 </span><b class="arrow fa fa-angle-down"></b> </a> <b class="arrow"></b>
                    <ul class="submenu">
                        <li class="active"> <a href="/admin/post/index"> <i class="menu-icon fa fa-caret-right"></i> 帖子管理 </a> <b class="arrow"></b></li>
                        <li class=""> <a href="order_detail.html"> <i class="menu-icon fa fa-caret-right"></i> 分类管理 </a> <b class="arrow"></b></li>
                    </ul>
                </li>
                <li class="">
                    <a href="#" class="dropdown-toggle"> <i class="menu-icon fa a2"></i> <span class="menu-text"> 用户管理 </span> <b class="arrow fa fa-angle-down"></b></a> <b class="arrow"></b>
                    <ul class="submenu">
                        <li class=""> <a href="#"> <i class="menu-icon fa fa-caret-right"></i> 用户列表 </a> <b class="arrow"></b></li>
                        <li class=""> <a href="#"> <i class="menu-icon fa fa-caret-right"></i> 用户级别 </a> <b class="arrow"></b></li>
                        <li class=""> <a href="#"> <i class="menu-icon fa fa-caret-right"></i> 用户收藏列表 </a> <b class="arrow"></b></li>
                        <li class=""> <a href="#"> <i class="menu-icon fa fa-caret-right"></i> 用户点赞列表 </a> <b class="arrow"></b></li>
                    </ul>
                </li>
                <li class="">
                    <a href="#" class="dropdown-toggle"> <i class="menu-icon fa a7"></i> <span class="menu-text"> 设置 </span> <b class="arrow fa fa-angle-down"></b> </a> <b class="arrow"></b>
                    <ul class="submenu">
                        <li class=""> <a href="sco_info.html"> <i class="menu-icon fa fa-caret-right"></i> 公司信息 </a> <b class="arrow"></b> </li>
                    </ul>
                </li>
            </ul><!-- /.nav-list -->
            <!-- #section:basics/sidebar.layout.minimize -->
            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
            </div>

            <!-- /section:basics/sidebar.layout.minimize -->
            <script type="text/javascript">
					try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
            </script>
        </div>

        <!-- /section:basics/sidebar -->
        <div class="main-content">
            <div class="main-content-inner">
                <!-- #section:basics/content.breadcrumbs -->
                <div class="breadcrumbs" id="breadcrumbs">
                    <script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                    </script>

                    <ul class="breadcrumb">
                        <li> <i class="ace-icon fa fa-home home-icon"></i> <a href="#">首页</a> </li>
                        <li> <a href="#">订单</a> </li>
                        <li class="active">订货单</li>
                    </ul><!-- /.breadcrumb -->

                </div>

                <!-- /section:basics/content.breadcrumbs -->
                @RenderBody()
            </div>
        </div><!-- /.main-content -->

        <div class="footer">
            <div class="footer-inner">
                <!-- #section:basics/footer -->
                <div class="footer-content">
                    <span class="bigger-120">
                        <span class="blue bolder">Ace</span>
                        Application &copy; 2013-2014
                    </span>

                    &nbsp; &nbsp;
                    <span class="action-buttons">
                        <a href="#">
                            <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                        </a>

                        <a href="#">
                            <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                        </a>

                        <a href="#">
                            <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                        </a>
                    </span>
                </div>

                <!-- /section:basics/footer -->
            </div>
        </div>

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div><!-- /.main-container -->
    <!-- basic scripts -->
    <!--[if !IE]> -->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='/Areas/Admin/Assets/scripts/jquery.js'>" + "<" + "/script>");
    </script>

    <!-- <![endif]-->
    <!--[if IE]>
    <script type="text/javascript">
     window.jQuery || document.write("<script src='../assets/js/jquery1x.js'>"+"<"+"/script>");
    </script>
    <![endif]-->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='/Areas/Admin/Assets/scripts/jquery.mobile.custom.js'>" + "<" + "/script>");
    </script>
    <script src="/Areas/Admin/Assets/scripts/bootstrap.js"></script>

    <!-- page specific plugin scripts -->
    <!--[if lte IE 8]>
      <script src="/Areas/Admin/Assets/scripts/excanvas.js"></script>
    <![endif]-->
    <script src="/Areas/Admin/Assets/scripts/jquery-ui.custom.js"></script>
    <script src="/Areas/Admin/Assets/scripts/jquery.ui.touch-punch.js"></script>
    <script src="/Areas/Admin/Assets/scripts/jquery.easypiechart.js"></script>
    <script src="/Areas/Admin/Assets/scripts/jquery.sparkline.js"></script>
    <script src="/Areas/Admin/Assets/scripts/flot/jquery.flot.js"></script>
    <script src="/Areas/Admin/Assets/scripts/flot/jquery.flot.pie.js"></script>
    <script src="/Areas/Admin/Assets/scripts/flot/jquery.flot.resize.js"></script>
    <script src="/Areas/Admin/Assets/scripts/jquery.dataTables.js"></script>
    <script src="/Areas/Admin/Assets/scripts/jquery.dataTables.bootstrap.js"></script>

    <!-- ace scripts -->
    <script src="/Areas/Admin/Assets/scripts/ace/elements.scroller.js"></script>
    <script src="/Areas/Admin/Assets/scripts/ace/elements.colorpicker.js"></script>
    <script src="/Areas/Admin/Assets/scripts/ace/elements.fileinput.js"></script>
    <script src="/Areas/Admin/Assets/scripts/ace/elements.typeahead.js"></script>
    <script src="/Areas/Admin/Assets/scripts/ace/elements.wysiwyg.js"></script>
    <script src="/Areas/Admin/Assets/scripts/ace/elements.spinner.js"></script>
    <script src="/Areas/Admin/Assets/scripts/ace/elements.treeview.js"></script>
    <script src="/Areas/Admin/Assets/scripts/ace/elements.wizard.js"></script>
    <script src="/Areas/Admin/Assets/scripts/ace/elements.aside.js"></script>
    <script src="/Areas/Admin/Assets/scripts/ace/ace.js"></script>
    <script src="/Areas/Admin/Assets/scripts/ace/ace.ajax-content.js"></script>
    <script src="/Areas/Admin/Assets/scripts/ace/ace.touch-drag.js"></script>
    <script src="/Areas/Admin/Assets/scripts/ace/ace.sidebar.js"></script>
    <script src="/Areas/Admin/Assets/scripts/ace/ace.sidebar-scroll-1.js"></script>
    <script src="/Areas/Admin/Assets/scripts/ace/ace.submenu-hover.js"></script>
    <script src="/Areas/Admin/Assets/scripts/ace/ace.widget-box.js"></script>
    <script src="/Areas/Admin/Assets/scripts/ace/ace.settings.js"></script>
    <script src="/Areas/Admin/Assets/scripts/ace/ace.settings-rtl.js"></script>
    <script src="/Areas/Admin/Assets/scripts/ace/ace.settings-skin.js"></script>
    <script src="/Areas/Admin/Assets/scripts/ace/ace.widget-on-reload.js"></script>
    <script src="/Areas/Admin/Assets/scripts/ace/ace.searchbox-autocomplete.js"></script>

    <!-- inline scripts related to this page -->
    <script>

		jQuery(function($) {
				var oTable1 =
				$('#sample-table-2')
				.dataTable( {
					bAutoWidth: false,
					"aoColumns": [
					  { "bSortable": false },
					  null, null,null, null, null,
					  { "bSortable": false }
					],
					"aaSorting": [],

			    } );


		 	$(document).on('click', 'th input:checkbox' , function(){
					var that = this;
					$(this).closest('table').find('tr > td:first-child input:checkbox')
					.each(function(){
						this.checked = that.checked;
						$(this).closest('tr').toggleClass('selected');
					});
				});



				$('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});
				function tooltip_placement(context, source) {
					var $source = $(source);
					var $parent = $source.closest('table')
					var off1 = $parent.offset();
					var w1 = $parent.width();

					var off2 = $source.offset();
					//var w2 = $source.width();

					if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
					return 'left';
				}

			})
    </script>

    <!-- the following scripts are used in demo only for onpage help and you don't need them -->
    <link rel="stylesheet" href="/Areas/Admin/Assets/styles/ace.onpage-help.css" />

    <script type="text/javascript"> ace.vars['base'] = '..'; </script>
    <script src="/Areas/Admin/Assets/scripts/ace/elements.onpage-help.js"></script>
    <script src="/Areas/Admin/Assets/scripts/ace/ace.onpage-help.js"></script>


</body>
</html>


